<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/events/add-location" method="post">
    <label for="name">Name of Location:</label>
    <input type="text" id="name" name="name">
    <br/>
    <label for="address">Address of Location:</label>
    <input type="text" id="address" name="address">
    <br/>

    <label for="capacity">Capacity:</label>
    <input type="text" id="capacity" name="capacity">
    <br/>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>