<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <label for="attendeeName">First Name</label>

    <input type="text" id="attendeeName" placeholder="Attendee Name" name="firstName"/>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName"  name="lastName"/>
  <input type="submit" value="Submit">

</form>
</body>
</html>