<html>
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
    <th:block th:if="${hasError}">
        <div th:text="${errorMessage}"></div>
    </th:block>
    <h2>Choose an event:</h2>
    <form th:method="POST" th:action="@{'/events'}">
        <div th:each="event : ${events}">
                <input type="radio" th:id="${event.getId()}" name="id" th:value="${event.getId()}">
                <span>Name: <span th:text="${event.getName()}">
                </span> Description: <span th:text="${event.getDescription()}" >
                </span> Popularity Score: <span th:text="${event.getPopularityScore()}"></span></span>
                <span>Location <span th:text="${event.getLocation().getName()}"></span></span>
                <a th:href="@{'/events/edit-form/{id}' (id=${event.getId()})}" ><i>Edit</i></a>
                <a th:href="@{'/events/delete/{id}' (id=${event.getId()})}" ><i>Delete</i></a>

        </div>
    <h2>Choose number of tickets:</h2>
    <input type="number" name="numTickets" min="1" max="10"><br/>

    <br/>
    <input type="submit" value="Submit">
    </form>
    <form method="GET" action="/events">
        <label for="search">Search Events:</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="Submit">
    </form>
    <form method="GET" action="/events/add-form">
        <button type="submit">Add Event</button>
    </form>
</main>
</body>
</html>